/* line 1, ../scss/lolsumo.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 7, ../scss/lolsumo.scss */
body {
  margin: 0;
}

/* line 11, ../scss/lolsumo.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../scss/lolsumo.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 20, ../scss/lolsumo.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 25, ../scss/lolsumo.scss */
[hidden], template {
  display: none;
}

/* line 29, ../scss/lolsumo.scss */
a {
  background-color: transparent;
}

/* line 33, ../scss/lolsumo.scss */
a:active, a:hover {
  outline: 0;
}

/* line 37, ../scss/lolsumo.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 41, ../scss/lolsumo.scss */
b, strong {
  font-weight: bold;
}

/* line 45, ../scss/lolsumo.scss */
dfn {
  font-style: italic;
}

/* line 49, ../scss/lolsumo.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 54, ../scss/lolsumo.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 59, ../scss/lolsumo.scss */
small {
  font-size: 80%;
}

/* line 63, ../scss/lolsumo.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 70, ../scss/lolsumo.scss */
sup {
  top: -0.5em;
}

/* line 74, ../scss/lolsumo.scss */
sub {
  bottom: -0.25em;
}

/* line 78, ../scss/lolsumo.scss */
img {
  border: 0;
}

/* line 82, ../scss/lolsumo.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 86, ../scss/lolsumo.scss */
figure {
  margin: 1em 40px;
}

/* line 90, ../scss/lolsumo.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 95, ../scss/lolsumo.scss */
pre {
  overflow: auto;
}

/* line 99, ../scss/lolsumo.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 104, ../scss/lolsumo.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 110, ../scss/lolsumo.scss */
button {
  overflow: visible;
}

/* line 114, ../scss/lolsumo.scss */
button, select {
  text-transform: none;
}

/* line 118, ../scss/lolsumo.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 123, ../scss/lolsumo.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 127, ../scss/lolsumo.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 132, ../scss/lolsumo.scss */
input {
  line-height: normal;
}

/* line 136, ../scss/lolsumo.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 141, ../scss/lolsumo.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 145, ../scss/lolsumo.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 150, ../scss/lolsumo.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 154, ../scss/lolsumo.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 160, ../scss/lolsumo.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 165, ../scss/lolsumo.scss */
textarea {
  overflow: auto;
}

/* line 169, ../scss/lolsumo.scss */
optgroup {
  font-weight: bold;
}

/* line 173, ../scss/lolsumo.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 178, ../scss/lolsumo.scss */
td, th {
  padding: 0;
}

/* line 182, ../scss/lolsumo.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* line 188, ../scss/lolsumo.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 193, ../scss/lolsumo.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 198, ../scss/lolsumo.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 207, ../scss/lolsumo.scss */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/* line 211, ../scss/lolsumo.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 217, ../scss/lolsumo.scss */
textarea {
  resize: vertical;
}

/* line 221, ../scss/lolsumo.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 228, ../scss/lolsumo.scss */
.hidden {
  display: none !important;
}

/* line 232, ../scss/lolsumo.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 243, ../scss/lolsumo.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 252, ../scss/lolsumo.scss */
.invisible {
  visibility: hidden;
}

/* line 256, ../scss/lolsumo.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 261, ../scss/lolsumo.scss */
.clearfix:after {
  clear: both;
}

@media print {
  /* line 266, ../scss/lolsumo.scss */
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 273, ../scss/lolsumo.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 277, ../scss/lolsumo.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 281, ../scss/lolsumo.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 285, ../scss/lolsumo.scss */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }

  /* line 289, ../scss/lolsumo.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 294, ../scss/lolsumo.scss */
  thead {
    display: table-header-group;
  }

  /* line 298, ../scss/lolsumo.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 302, ../scss/lolsumo.scss */
  img {
    max-width: 100% !important;
  }

  /* line 306, ../scss/lolsumo.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 311, ../scss/lolsumo.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 3, ../scss/_card.scss */
body, html {
  width: 1200px;
  -webkit-font-smoothing: antialiased;
}

/* line 8, ../scss/_card.scss */
.card {
  height: 100%;
  width: 1200px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: #332c63;
  padding: 0;
  text-align: center;
}

/* line 20, ../scss/_card.scss */
.card__background {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
/* line 27, ../scss/_card.scss */
.card__background img {
  width: 100%;
  height: 100%;
}

/* line 33, ../scss/_card.scss */
.card__content {
  width: 720px;
  margin: 0 auto;
}

/* line 38, ../scss/_card.scss */
.card__userArea {
  margin-top: 60px;
}

/* line 42, ../scss/_card.scss */
.card__userArea-avatar {
  height: 48px;
  width: 48px;
  border: 4px solid #683dde;
  border-radius: 50%;
  margin-bottom: 16px;
  display: block;
  margin: 0 auto 16px auto;
}

.card__userArea-avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* line 52, ../scss/_card.scss */
.card__userArea-battletag {
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  display: inline-block;
  margin-right: 4px;
}

/* line 60, ../scss/_card.scss */
.card__userArea-platform {
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  opacity: 0.3;
  display: inline-block;
}

/* line 68, ../scss/_card.scss */
.card__heroArea {
  margin-top: 24px;
}

/* line 72, ../scss/_card.scss */
.card__heroArea-title {
  font-size: 36px;
  color: #fff;
}

/* line 77, ../scss/_card.scss */
.card__heroArea-subtitle {
  font-size: 30px;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 40px;
}

/* line 84, ../scss/_card.scss */
.card__heroArea-rank {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 15px;
}

/* line 92, ../scss/_card.scss */
.card__heroArea-rankSub {
  opacity: 0.3;
  color: #fff;
  font-size: 20px;
}

/* line 98, ../scss/_card.scss */
.card__heroArea-avatar {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 0 auto;
}
/* line 104, ../scss/_card.scss */
.card__heroArea-avatar .avatarImg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 115, ../scss/_card.scss */
.card__heroArea-badge {
  width: 108px;
  height: 114px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -54px;
  bottom: -20px;
}

/* line 125, ../scss/_card.scss */
.card__performanceArea {
  margin-top: 80px;
}

/* line 129, ../scss/_card.scss */
.card__performanceArea-title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 32px;
}

/* line 139, ../scss/_card.scss */
.card__performanceArea-statItem {
  height: 148px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
  overflow: hidden;
  position: relative;
}

/* line 148, ../scss/_card.scss */
.card__performanceArea-statItemBadge {
  float: left;
  width: 144px;
  height: 148px;
}
/* line 153, ../scss/_card.scss */
.card__performanceArea-statItemBadge img {
  width: 88px;
  height: 92px;
  padding: 28px 0;
}

/* line 160, ../scss/_card.scss */
.card__performanceArea-statItemData {
  float: left;
  height: 108px;
  text-align: left;
  width: 536px;
  padding: 20px 40px 20px 0;
}

/* line 168, ../scss/_card.scss */
.card__performanceArea-statItemTopBar {
  overflow: hidden;
}

/* line 172, ../scss/_card.scss */
.card__performanceArea-statItemBottomBar {
  overflow: hidden;
}

/* line 176, ../scss/_card.scss */
.card__performanceArea-statItemTitle {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
  float: left;
}

/* line 183, ../scss/_card.scss */
.card__performanceArea-statItemComparisonPercentage {
  float: right;
  opacity: 0.5;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}

/* line 191, ../scss/_card.scss */
.card__performanceArea-statItemComparisonArrow {
  float: right;
  padding-top: 10px;
  padding-left: 5px;
}

/* line 197, ../scss/_card.scss */
.card__performanceArea-statItemProgressBar {
  height: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
  margin: 12px 0;
  position: relative;
}

/* line 205, ../scss/_card.scss */
.card__performanceArea-statItemProgressBarFill {
  position: absolute;
  width: 87%;
  height: 8px;
  border-radius: 4px;
  left: 0;
}

.card__performanceArea-statItemProgressBarFill--bronze {
  background: #ad594a;
}

.card__performanceArea-statItemProgressBarFill--silver {
  background: #787878;
}

.card__performanceArea-statItemProgressBarFill--gold {
  background: #eed486;
}

.card__performanceArea-statItemProgressBarFill--platinum {
  background: #b5e5f2;
  box-shadow: 0 0 4px 0 rgba(181, 229, 242, 0.6);
}

.card__performanceArea-statItemProgressBarFill--diamond {
  background: #a6b4ff;
  box-shadow: 0 0 4px 0 #6a83ff;
}

.card__performanceArea-statItemProgressBarFill--master {
  background: #ffb82b;
  box-shadow: 0 0 4px 0 rgba(248, 210, 93, 0.8);
}

.card__performanceArea-statItemProgressBarFill--grandmaster {
  background: #ffffff;
  box-shadow: 0 0 4px 0 #ffffff;
}

/* line 215, ../scss/_card.scss */
.card__performanceArea-statItemProgressBarAverageIndicator {
  width: 2px;
  height: 16px;
  background: #fff;
  position: absolute;
  top: -4px;
  left: 65%;
}

/* line 224, ../scss/_card.scss */
.card__performanceArea-statItemTier {
  color: white;
  letter-spacing: 0.5px;
  font-size: 20px;
  float: left;
}

/* line 232, ../scss/_card.scss */
.card__performanceArea-statItemAverageTier {
  float: right;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.5px;
  font-size: 20px;
}

/* line 239, ../scss/_card.scss */
.card__footer {
  font-size: 20px;
  color: #fff;
  margin: 56px 0;
}
